
@{
    ViewBag.Title = "Graphs";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Estilos/font-awenson.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Estilos/nprogress.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Estilos/custom.min.css" rel="stylesheet" />
    <link href="~/Estilos/Chart.css" rel="stylesheet" />
    <link href="~/Estilos/Responsive.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info">
                            <span>Welcome</span>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="../CreateUser/CreateUser"><img src="~/Iconos/User.png" /> User</a></li>
                                <li><a href="../CreateDepartment/CreateDepartment"> <img src="~/Iconos/Department.png" /> Department</a></li>
                                <li><a href="../CreateArea/CreateArea"> <img src="~/Iconos/Area.png" />  Area </a> </li>
                                <li><a href="../CreatePosition/CreatePosition"> <img src="~/Iconos/Position.png" />  Position</a></li>
                                <li><a href="../CreatePermission/CreatePermission"> <img src="~/Iconos/Permission.png" /> Permission </a></li>
                                <li><a href="../CreateRole/CreateRole"> <img src="~/Iconos/Role.png" /> Role </a> </li>
                                <li><a href="../CreateRolePermission/CreateRolePermission"> <img src="~/Iconos/Role Permission.png" />  Role Permission </a></li>
                                <li><a href="../CreateNote/CreateNote"> <img src="~/Iconos/Nota.png" />  Nota </a></li>
                                <li>
                                    <a> <img src="~/Iconos/Reports and Others.png"> Reports and Others <img src="~/Iconos/Abajo.png"></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a> Reports <img src="~/Iconos/Abajo.png"> </a>
                                            <ul class="nav child_menu">
                                                <li><a href="../WeeklyReport/WeeklyReport">Weekly Reports</a> </li>
                                                <li><a href="../MonthlyReport/MonthlyReport">Monthly Reports</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../Graphs/Graphs"> Graphs </a></li>
                                        <li><a href="../Indicators/Indicators"> Indicators </a></li>
                                    </ul>
                                </li>
                                <li><a href="../UploadNoteStyleCorrection/UploadNoteStyleCorrection"> <img src="~/Iconos/Note Style Corretion.png" /> Note Style Correction </a></li>
                                <li><a href="../UploadNoteDiagram/UploadNoteDiagram"> <img src="~/Iconos/Note Diagram.png" /> Note Diagram </a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"> <img src="~/Iconos/Menu.png" /> </a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Username <img src="~/Iconos/User2.png" />
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="../Login/Login"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span>
                                                <span>Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>
                                                <span>Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>
                                                <span>Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>
                                                <span>Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- Modulo Grafica -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Graphs</h3>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- Graficos de Usuario -->

                    <div class="row">
                        <div style="width:50%">
                            <div class="x_panel">
                                <ul class="nav navbar-right panel_toolbox"></ul>

                                <form class="form-horizontal form-label-left" novalidate>

                                    <div class="item form-group">
                                        <label class="control-label col-md-10 col-sm-5 col-xs-5" for="Id_Area">
                                            Top Monthly Notes by User <span class="required"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <canvas id="myChart" width="100" height="100"></canvas>
                                    </div>

                                    <div class="x_panel">
                                        <ul class="nav navbar-right panel_toolbox"></ul>

                                        <form class="form-horizontal form-label-left" novalidate>

                                            <div class="item form-group">
                                                <label class="control-label col-md-10 col-sm-10 col-xs-10" for="Id_Area">
                                                    Top Weekly Notes by User <span class="required"></span>
                                                </label>
                                            </div>
                                            <div>
                                                <canvas id="myChart2" width="100" height="100"></canvas>
                                            </div>
                                        </form>

                                    </div>
                                </form>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                            </div>
                        </div>

                        <!-- Graficos de Departamento -->

                        <div style="width:50%">
                            <div class="x_panel">
                                <ul class="nav navbar-right panel_toolbox"></ul>

                                <form class="form-horizontal form-label-left" novalidate>

                                    <div class="item form-group">
                                        <label class="control-label col-md-10 col-sm-5 col-xs-5" for="Id_Area">
                                            Top Monthly Notes by Department <span class="required"></span>
                                        </label>
                                    </div>
                                    <div>
                                        <canvas id="myChart3" width="100" height="100"></canvas>
                                    </div>
                                    <div class="x_panel">
                                        <ul class="nav navbar-right panel_toolbox"></ul>

                                        <form class="form-horizontal form-label-left" novalidate>

                                            <div class="item form-group">
                                                <label class="control-label col-md-10 col-sm-10 col-xs-10" for="Id_Area">
                                                    Top Weekly Notes by Department <span class="required"></span>
                                                </label>
                                            </div>
                                            <div>
                                                <canvas id="myChart4" width="100" height="100"></canvas>
                                            </div>
                                        </form>
                                    </div>
                                </form>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scripts -->

        </div>

        <!-- jQuery -->
        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="~/Scripts/Fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/Scripts/Nprogress.js"></script>
        <!-- validator -->
        <script src="~/Scripts/validator.js"></script>
        <!-- jQuery Smart Wizard -->
        <script src="~/Scripts/jquery.smartWizard.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="~/Scripts/Custom.min.js"></script>
        <script src="~/Scripts/Chart.js"></script>

        <!-- Scripts de Usuario -->

        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Juan', 'Roger', 'Yeison', 'Luis', 'Marvin', 'Carlos'],
                    datasets: [{
                        label: '# Users',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx, {
                type: 'polarArea',
                data: {
                    labels: ['Juan', 'Roger', 'Yeison', 'Luis', 'Marvin', 'Carlos'],
                    datasets: [{
                        label: '# Users',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <!-- Scripts de Departamento -->

        <script>
            var ctx = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Redacción', 'Recursos Humanos', 'xxx', 'xxxx'],
                    datasets: [{
                        label: '# Departaments',
                        data: [03, 10, 2, 15],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

        <script>
            var ctx = document.getElementById('myChart4').getContext('2d');
            var myChart4 = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Redacción', 'Recursos Humanos', 'xxx', 'xxxx'],
                    datasets: [{
                        label: '# Departaments',
                        data: [05, 07, 14, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
</body>
</html>
