
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="~/Estilos/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Estilos/font-awenson.min.css" rel="stylesheet" />
    <link href="~/Estilos/animate.min.css" rel="stylesheet" />
    <link href="~/Estilos/nprogress.css" rel="stylesheet" />
    <link href="~/Estilos/custom.min.css" rel="stylesheet" />
</head>

F
<body class="login">
    <div>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">     
            <div class="animate form login_form">
                <section class="login_content">
                    <h1>Login Form</h1>

                    @using (Html.BeginForm("Authentication", "Login", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Username" id="User" name="Username" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" id="Pass" name="Password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" id="btnLogin" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                    <div class="separator"></div>

                    <div class="text-center">
                        <p>&copy; @DateTime.Now.Year - CMS by Malignant Devs</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>

