@model ControlApp.Entities.Objects.User

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="~/Estilos/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Estilos/font-awenson.min.css" rel="stylesheet" />
    <link href="~/Estilos/animate.min.css" rel="stylesheet" />
    <link href="~/Estilos/nprogress.css" rel="stylesheet" />
    <link href="~/Estilos/custom.min.css" rel="stylesheet" />
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">

        <section class="login_content">
            <form>
                <h1>Login</h1>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                <div>
                    <input type="text" class="form-control" placeholder="Username" required="" />
                    @*@Html.TextBoxFor(x => x.User_nickname, new {@class = "form-control", placeholder = "Username", required = "", type= "text"})*@
                </div> 
                <div>
                    @*<div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">🔒</span>
                        </div>*@

                        <input type="password" class="form-control" placeholder="Password" required="" />
                        @*@Html.TextBoxFor(x => x.User_pass, new { @class = "form-control", placeholder = "Password", required = "", type = "password" })*@
                    </div>
                <div>
                    <button class="btn btn-default submit" id="LogInButton" type="submit">Log in</button>

                    @*<input class="btn btn-default submit" id="LogInButton" type="submit" value="Log in" />*@
                    <a class="reset_pass" href="#">Lost your password?</a>
                </div>
                    @*<div class="clearfix"></div>*@
                    <div class="separator">
                    </div>
                    }
</form>      
        </section>
            
        <div class="animate form login_form">
        </div>

        <div class="text-center">
            <p>&copy; @DateTime.Now.Year - CMS by Malignant Devs</p>
        </div>

        </div>
    </div>
</body>

</html>

