<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ControlApp.DataAccess.Properties.Settings.ControlAppConnectionString3"
            connectionString="Data Source=192.168.30.206;Initial Catalog=ControlApp;Persist Security Info=True;User ID=sa;Password=GEServerD3"
            providerName="System.Data.SqlClient" />
        <add name="ControlApp.DataAccess.Properties.Settings.ControlAppDevConnectionString"
            connectionString="Data Source=malignant.database.windows.net;Initial Catalog=ControlAppDev;User ID=malignant;Password=GEServerD3*;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>