<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportExecutionServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8282/ReportServer/ReportExecution2005.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap"
                contract="ControlApp_SsrsService.ReportExecutionServiceSoap"
                name="ReportExecutionServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>