
@{
    ViewBag.Title = "CreateUser";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
                    </div>
      
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">Settings 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">


                                    <!-- Smart Wizard -->
                                    <div id="wizard" class="form_wizard wizard_horizontal">
                                        <ul class="wizard_steps">
                                            <li>
                                                <a href="#Personal Information">
                                                    <span class="step_no">1</span>
                                                    <span class="step_descr">
                                                        <large>Peronal Information</large>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#Department">
                                                    <span class="step_no">2</span>
                                                    <span class="step_descr">
                                                        <large>Department</large>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#Area">
                                                    <span class="step_no">3</span>
                                                    <span class="step_descr">
                                                        <large>Area</large>
                                                    </span>
                                                </a>
                                            </li>
                                           
                                        </ul>
                                        <div id="Personal Information">
                                            <form class="form-horizontal form-label-left">
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Id_User">
                                                        ID <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="Id_User" name="Id_User" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name_User">
                                                        Name <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Full Name Please" required="required" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                                        Email <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="email" id="email" name="email" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label for="password" class="control-label col-md-3">Password <span class="required">*</span> </label>

                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="password" type="password" name="password" data-validate-length="6,8" required="required" class="form-control col-md-7 col-xs-12">

                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Confirm Password <span class="required">*</span></label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="password2" type="password" name="password2" data-validate-linked="password" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>


                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="NickName_User">
                                                        NickName <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="NickName_User" type="text" name="NickName_User" required="required" data-validate-length-range="5,20" class="optional form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>

                                                <div class="x_content">
                                                    <button type="button" class="btn btn-default">Finish</button>
                                                    <button type="button" class="btn btn-default">Next</button>
                                                </div>
                                            </form>

                                        </div>
                                        <div id="step-2">
                                            <h2 class="StepTitle">Department</h2>
                                            <form class="form-horizontal form-label-left">
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Id_Department">
                                                        ID <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="Id_Department" name="Id_Department" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name_Deparment">
                                                        Name Department <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="Name_Department" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Name_Department" required="required" type="text">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Estado">
                                                        Estado <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="checkbox" id="Estado" name="Estado" required="required" class="form-control col-md-7 col-xs-12">

                                                    </div>
                                                </div>

                                                <div class="x_content">
                                                    <button type="button" class="btn btn-default">Finish</button>
                                                    <button type="button" class="btn btn-default">Previous</button>
                                                    <button type="button" class="btn btn-default">Next</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div id="step-3">
                                            <h2 class="StepTitle">Area</h2>
                                            <form class="form-horizontal form-label-left">
                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Id_Department">
                                                        ID <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="Id_Department" name="Id_Department" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name_Area">
                                                        Name Area <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input id="Name_Area" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Name_Area" required="required" type="text">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Estado">
                                                        Estado <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="checkbox" id="Estado" name="Estado" required="required" class="form-control col-md-7 col-xs-12">

                                                    </div>
                                                </div>

                                                <div class="x_content">
                                                    <button type="button" class="btn btn-default">Finish</button>
                                                    <button type="button" class="btn btn-default">Previous</button>
                                                    <button type="button" class="btn btn-default">Next</button>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>


</body>
</html>